# Site settings
title: taeri's blog
description: >-
  프론트엔드 개발자 taeri의 기술 블로그입니다.
lang: ko
timezone: Asia/Seoul
image: /assets/img/ogp.png
repo: https://github.com/taerikor/jekyll-blog
mode: dark

# Profile settings
author:
  name: taeri
  bio: >-
    안녕하세요!<br>
    개발을 하며 겪었던 경험과 고민,<br>
    그리고 생각들을 글로 남깁니다.<br>
    오늘도 의미 있는 하루 되시길 바랍니다.
  username: taeri
  github: taerikor
  twitter:
  facebook:
  email: yakkitaeri@gmail.com
  avatar: /assets/img/avatar.jpg

# URL settings
url: "https://blog-taeri.vercel.app"
baseurl: ""
permalink: /:title/

# Analytics (optional)
google_analytics:
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Homepage limit posts
number_of_posts: 5

# Build settings
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - lighthouse.png
  - klise-*.gem
  - klise.gemspec

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
